.portfolio {
    margin-bottom: 88px;
}

.portfolio__title {
    color: #A0A0A0;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.portfolio__project {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 16px;
}

.portfolio__project_item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    border-bottom: solid 1px #E6E6E6;
}

.portfolio__project_item:last-child {
    border-bottom: none;
    margin-bottom: 0;

}

.portfolio__project_link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 89px;
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 425px) {
    .portfolio__project_link {
        height: 67px;
    }
}

.portfolio__project_label {
    text-decoration: none;
    color: inherit;
    font-size: 30px;
    font-weight: 400;
    line-height: 89px;/* 166.667% */
    letter-spacing: -1.2px;
    margin: 0;
    cursor: pointer;
}

.portfolio__project_label:hover {
    opacity: 0.55;
    transition: 0.15s;
}

.portfolio__project_img {
    width: 19px;
    box-sizing: border-box;
    border-style: none;
    margin-right: 5px;
    margin-top: 4px;
    cursor: pointer;
}

.portfolio__project_img:hover {
    opacity: 0.55;
    transition: 0.15s;
}

@media screen and (max-width: 768px) {
    .portfolio__project_img {
        margin-right: 5px;
    }
}

@media screen and (max-width: 425px) {
    .portfolio__project_img {
        width: 12px;
        padding-bottom: 5px;
        margin-right: 4px;
    }
}

@media screen and (max-width: 768px) {
    .portfolio__title {
        margin-bottom: 31px;
    }
}

@media screen and (max-width: 767px) {
    .portfolio__title {
        font-size: 14px;
        margin-bottom: 42px;
    }
}

@media screen and (max-width: 768px) {
    .portfolio__project_label {
        font-size: 28px;
        letter-spacing: -1.12px;
    }
}

@media screen and (max-width: 530px) {
    .portfolio__project_label {
        font-size: 21px;
        letter-spacing: -0.72px;
    }
}

@media screen and (max-width: 425px) {
    .portfolio__title {
        margin-bottom: 21px;
    }
}

@media screen and (max-width: 425px) {
    .portfolio__project_label {
        line-height: 67px;
        font-size: 18px;
    }
}
