.promo {
  background-color: #073042;
  display: flex;
  justify-content: center;
  padding: 0 70px 76px 70px;
  margin-bottom: 110px;
}

.promo__container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.promo__img {
  width: 310px;
  height: 304px;
  margin-top: 75px;
}

.promo__text {
  display: flex;
  flex-direction: column;
}

.promo__title {
  max-width: 640px;
  color: #FFF;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  margin: 0;
  margin-bottom: 36px;
  margin-top: 75px;
  padding: 0;

}

.promo__subtitle {
  max-width: 310px;
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  margin: 0;
  margin-bottom: 145px;
}

.promo__btn {
  width: 128px;
  height: 36px;
  padding: 0;
  border-radius: 3px;
  border: 1px solid #FFF;
  opacity: 0.6;
  background: none;
  color: #FFFFFF;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 35px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.promo__btn:hover {
  opacity: 0.55;
  transition: 0.15s;
}

@media screen and (max-width: 960px) {

  .promo {
    flex-direction: column;
    padding-left: 70px;
  }

  .promo__subtitle {
    margin-bottom: 40px;
  }

  .promo__title {
    font-size: 40px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 34px;
  }

  .promo__text {
    margin-top: 35px;
  }
}

@media screen and (max-width: 768px) {
  .promo {
    margin-bottom: 90px;
  }

  .promo__container {
    flex-direction: column;
  }

  .promo__text {
    margin-top: 0px;
    align-items: center;
  }

  .promo__title {
    text-align: center;
    margin-bottom: 22px;
  }

  .promo__btn {
    margin: 92px auto 0;
  }


  .promo__img {
    margin: 140px auto 48px;
  }

  .promo__subtitle {
    text-align: center;
    margin: auto 0;
    max-width: 260px;
  }
}

@media screen and (max-width: 548px) {
  .promo__img {
    width: 210px;
    height: 206px;
    margin-top: 70px;
    margin-bottom: 44px;
  }
}

@media screen and (max-width: 440px) {
  .promo {
    flex-direction: column;
    padding: 0 0 31px;
    margin: 0 0 70px;
  }
}

@media screen and (max-width: 425px) {
  .promo__subtitle {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 425px) {
  .promo__title {
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px; /* 126.667% */
    letter-spacing: -1.2px;
  }
}

@media screen and (max-width: 425px) {
    .promo__btn {
      margin: 81px auto 0;
  }
}


