.title {
    width: 100%;
    padding-bottom: 23px;
    border-bottom: 1px solid #000;
}

.text {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .text {
        font-size: 18px;
        letter-spacing: -0.72px;
    }
}

@media screen and (max-width: 320px) {
    .title {
        padding-bottom: 28px;
    }
}


