.project {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    background-color: #F5F5F5;
    margin-bottom: 110px;
    padding-top: 101px;
    padding-left: 70px;
    padding-right: 70px;
}

.project__container {
    max-width: 1280px;
    width: 100%;
}

.project__title {
    color: #000;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px; /* 116% */
    letter-spacing: -2px;
    margin: 0;
    margin-top: 90px;
}

.project__subtitle{
    width: 460px;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.56px;
    margin: 26px auto 98px;
}

.techs{
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 10px;
    margin: 0 auto;
    padding-bottom: 102px;
}

.techs__name {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90px;
    height: 60px;
    border-radius: 10px;
    background: #E8E8E8;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
}


@media screen and (max-width: 768px) {
    .project {
        padding-top: 91px;
        margin-bottom: 91px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 425px) {
    .project {
        background-color: #FFF;
        padding-top: 77px;
        margin-bottom: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 768px) {
    .project__title {
        margin-top: 80px;
        font-size: 50px;
    }
}

@media screen and (max-width: 555px) {
    .project__title {
        font-size: 30px;
        letter-spacing: -1.2px;
    }
}

@media screen and (max-width: 425px) {
    .project__title {
        margin-top: 49px;
    }

    .techs {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 768px) {
    .project__subtitle {
        margin-top: 22px;
        margin-bottom: 83px;
        font-size: 12px;
        line-height: 18px; /* 150% */
        letter-spacing: -0.48px;
    }
}

@media screen and (max-width: 555px) {
    .project__subtitle {
        font-size: 11px;
        letter-spacing: -1.2px;
        line-height: 16px; /* 145.455% */
        letter-spacing: -0.44px;
        width: 292px;
    }
}

@media screen and (max-width: 425px) {
    .project__subtitle {
        margin-top: 13px;
        margin-bottom: 50px;
        width: 276px;
    }
}

@media screen and (max-width: 789px) {
    .techs {
        flex-wrap: wrap;
        padding-bottom: 90px;
    }
}



@media screen and (max-width: 425px) {
    .techs {
        padding-right: 55px;
        padding-left: 55px;
        padding-bottom: 91px;
        width: 178px;
    }
}


@media screen and (max-width: 833px) {
    .techs__name {
        width: 84px;
        height: 57px;
        font-size: 12px;
        letter-spacing: -0.48px;
    }
}

@media screen and (max-width: 750px) {
    .techs__name {
        flex-wrap: wrap;
    }
}