@import "./vendor/fonts.css";

body {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**{ outline: 1px solid red; }*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/
