.me__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.me__info_text {
    display: flex;
    flex-direction: column;
}

.me__info_text_title {
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
    margin: 0;
    padding: 0;
    margin-top: 66px;
    margin-bottom: 18px;
}

.me__info_text_subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 26px;
}

.me__info_text_description {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    max-width: 600px;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 99px;
}

.me__info_text_github {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 100px;
}

.me__info_text_github:hover {
    opacity: 0.55;
    transition: 0.15s;
}

.me__photo {
    width: 270px;
    border-radius: 10px;
    margin-top: 66px;
}


@media screen and (max-width: 754px) {
    .me__info {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .me__info_text_title {
        font-size: 40px;
        line-height: 40px; /* 100% */
        letter-spacing: -1.6px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 579px) {
    .me__info_text_title {
        font-size: 30px;
        line-height: normal;
        letter-spacing: -1.2px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .me__info_text_subtitle {
        font-size: 12px;
        line-height: 18px; /* 150% */
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 579px) {
    .me__info_text_subtitle {
        font-size: 11px;
        line-height: 16px;
    }
}

@media screen and (max-width: 768px) {
    .me__info_text_description {
        font-size: 12px;
        line-height: 18px;
        max-width: 380px;
        margin-bottom: 87px;
    }
}

@media screen and (max-width: 579px) {
    .me__info_text_description {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 768px) {
    .me__photo {
        width: 255px;
        height: 307px;
        margin-top: 66px;
    }
}

@media screen and (max-width: 579px) {
    .me__photo {
        width: 292px;
        height: 352px;
        margin-top: 60px;
    }
}

@media screen and (max-width: 768px) {
    .me__info_text_github {
        margin-bottom: 91px;
    }
}

@media screen and (max-width: 425px) {
    .me__info_text_github {
        margin-bottom: 69px;
    }
}

